<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Space - Dashboard</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><a id="landing-link2" href="/">Welcome to Your Dashboard</a></h1>
      <nav class="dashboard-nav">
        <!-- Route to JS Assessment -->
        <!-- <form action="/login" method="POST">
        <button type="submit" class="button">LOGIN</button>
      </form> -->
        <button class="assessment" type="submit" class="button">JavaScript Assessment</button>
        <!-- Route to SQL Assessment -->
        <!-- <form action="/signup" method="POST">
        <button class="button">SIGN UP</button>
      </form> -->
        <button class="assessment" class="button">SQL Assessment</button>
      </nav>
      <section class="splash-image">
        <a href="/">
          <img
            id="home-link"
            src="./images/graduate-cap-with-scholarship-icon.png"
            alt="Cap with Diploma Icon"
          />
        </a>
      </section>
    </div>
  </body>
</html>
