<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Learn Space</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Learn Space</h1>
      <main>
        <h3>
          A learning space to challenge your coding skills!
        </h3>
        <nav>
          <form action="/login" method="GET">
            <button type="submit" class="button">LOGIN</button>
          </form>
          <form action="/signup" method="GET">
            <button class="button">SIGN UP</button>
          </form>
        </nav>
        <section class="splash-image">
          <img
            id="home-link"
            src="./images/graduate-cap-with-scholarship-icon.png"
            alt="Graduation Cap with Diploma"
          />
        </section>
      </main>
    </div>
  </body>
</html>
