<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Space - Signup Success</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <h2 class="success">
        Thank you for signing up! You now have access to our Assessment Dashboard.
      </h2>
      <form action="/valideUser" method="POST">
        <button type="submit" class="button">DASHBOARD</button>
      </form>
    </div>
  </body>
</html>
