<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Space - Signup</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="signup-body">
    <div class="signup-form-container">
      <h1>
        <a id="landing-link" href="/">Learn Space</a>
      </h1>
      <section class="signup-image">
        <a href="/">
          <img
            id="login-home-link"
            src="./images/online-learning-icon.png"
            alt="online-learning-icon"
          />
        </a>
      </section>
      <form id="contact" action="/user-validation" method="post">
        <h3>Sign Up</h3>
        <fieldset>
          <input
            name="firstName"
            placeholder="Your first name"
            type="text"
            tabindex="1"
            required
            autofocus
          />
        </fieldset>
        <fieldset>
          <input name="lastName" placeholder="Your last name" type="text" tabindex="1" required />
        </fieldset>
        <fieldset>
          <input name="email" placeholder="Your Email Address" type="email" tabindex="2" required />
        </fieldset>
        <fieldset>
          <input
            name="password"
            placeholder="Your password"
            type="password"
            minlength="5"
            tabindex="2"
            required
          />
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">
            Submit
          </button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
