<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="container">
      <h2 class="warning">
        That email is already taken. Please try another email account. Thank you!
      </h2>
      <form action="/signup" method="GET">
        <button type="submit" class="button">SIGNUP</button>
      </form>
    </div>
  </body>
</html>
